[submodule "xqwlight"]
	path = xqwlight
	url = https://github.com/Haxrox/xqwlight.git
[submodule "Xiangqi"]
	path = Xiangqi
	url = https://github.com/Haxrox/Xiangqi.git
[submodule "WenPu"]
	path = WenPu
	url = https://github.com/HmniTech/WenPu.git
